.app-header{
    display:flex;
    border-bottom:1px solid #DDDDDD;
    .lang-select{
        border:1px solid red;
    }
}

.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}
.goog-te-combo{
    height:40px !important;
    border:1px solid red;
    font-size:18px !important;
}